# API
PORT=3000
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/world-porra
JWT_SECRET=change-me-to-a-random-256-bit-string
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
FOOTBALL_DATA_API_KEY=your-football-data-api-key
SYNC_API_KEY=change-me-random-string
POLL_PICKS_DEADLINE=
POLL_GROUP_PREDICTIONS_DEADLINE=
POLL_TOURNAMENT_PREDICTIONS_DEADLINE=

# App
EXPO_PUBLIC_APP_URL=https://app.worldporra.com
EXPO_PUBLIC_API_URL=https://world-porra-api.vercel.app
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your-web-client-id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your-ios-client-id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=your-android-client-id.apps.googleusercontent.com
